---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/yukata.jpeg"
					alt="eunsol wearing Yukata"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						In 2016, visited in Kyoto to tourism. Kyoto was so fansinating to me. So, decided to live in Kyoto.
					</p>
					<p>
						From 2017, moved to Kyoto. And then started to work in the hotel sited in Kyoto.
					</p>
					<p>
						One of these day, I found Kiosk checking-in for the hotel guests.
						So, decided to be an engineer making the change like Kiosk.
					</p>
					<p>
						Studied <a href="https://www.jitec.ipa.go.jp/1_11seido/fe.html">Fundamental Information Technology Engineer Examination</a> about 1 year.
						Afterward, passed to exam and started to work at IT company sited in Osaka.
					</p>
					<p>
						Managed to configuring <a href="https://learn.microsoft.com/en-us/sharepoint/sharepoint-server">SharePoint Server</a> is Microsoft On-premise Service for Corporate Portal site.
						And Migrated the database to <a href="https://learn.microsoft.com/en-us/sql/sql-server/failover-clusters/windows/windows-server-failover-clustering-wsfc-with-sql-server?view=sql-server-ver16">Windows Server Failover Clustering with SQL Server</a>.
					</p>
					<p>
						About 2 years, experienced Water-fall methodology for configuring SharePoint, Teams, OneDrive, Intune.
						Also, have understanding about Windows server, Linux and Mac. 
					</p>
					<p>
						Now, Studying Javascript, node.js, DevOps and so on.
						I am dreaming to be a Full-stack engineer.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Dept. of Tourism Management.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certificate</h2>
				<div class="content">
					<p>IT Passport</p>
					<p>Fundamental Information Technology Engineer Examination</p>
					<p>TOEIC 770</p>
					<p>JLPT N1</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">URL</h2>
				<div class="content">
					<p>https://zenn.dev/eunsol_seo</p>
					<p>https://github.com/sashapivovarova</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
